<?xml version="1.0" encoding="utf-8" ?>
<config>
  <GuildId>157679653551603713</GuildId> <!-- 157679653551603713 PAC || 310114754012381186 Test -->
  <MasterId>156607889958502401</MasterId>

  <StaffRoleName>Staff</StaffRoleName>

  <GeneralChannelName>general</GeneralChannelName>
  <AnnoncesChannelName>annonces</AnnoncesChannelName>
  <LogsChannelName>logs</LogsChannelName>
  <StaffChannelName>staff</StaffChannelName>

  <AccueilVoiceChannelName>Accueil</AccueilVoiceChannelName>

  <WelcomeMessage>Bonjour !
Je suis un petit bot en cours de construction pour le serveur, mais, au nom de la P.A.C., je te souhaite la bienvenue !
Je viens de prévenir les membres du Staff connectés sur le serveur actuellement, ils ne devraient pas tarder à arriver !
Tu peux, en attendant visiter notre site (https://www.pa-corp.fr/), et même y déposer ta candidature si tu le souhaites !
A bientôt !
  </WelcomeMessage>
</config>