<?xml version="1.0" encoding="utf-8" ?>
<config>
  <GuildId>157679653551603713</GuildId> <!-- 157679653551603713 PAC || 310114754012381186 Test -->
  <MasterId>156607889958502401</MasterId>

  <StaffRoleName>Staff</StaffRoleName>

  <GeneralChannelName>general</GeneralChannelName>
  <AnnoncesChannelName>annonces</AnnoncesChannelName>
  <LogsChannelName>logs</LogsChannelName>
  <StaffChannelName>staff</StaffChannelName>

  <AccueilVoiceChannelName>Accueil</AccueilVoiceChannelName>

  <WelcomeMessage>Bienvenue !</WelcomeMessage>
</config>